  
  #nav1 {
    background-color: white;
}

.navbar-brand {
    font-weight: bolder;
    color: black;
}
.middle{
    color: rgba(146, 22, 177, 0.589);
}

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    background: #0d6efd;
    
}
#button1{
    position: relative;
     background-color:white;
    color :rgba(143, 16, 168, 0.719);
    border-color: rgba(143, 16, 168, 0.719);
    border-radius: 10px;
}
#button2{
   background-color:rgba(143, 16, 168, 0.719) ;
    border-radius: 10px
    
}
#button3{
    
     background-color:white ;
    border-color: black;
    color: black;
    border-radius: 10px
  
}
@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}